body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
}

main h2 {
  font-size: 20px;
}

#container {
  max-width: 600px;
  overflow: hidden;
  margin-left: 2%;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-left: 3%;
    margin-right: 3%;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

.li-a {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: max-content;
}

li.post-blob {
  line-height: 0.5;
}

p.post-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 0.4;
  margin-left: 15px;
  width: max-content;
}

p.post-date {
  font-size: 16px;
  font-weight: 300;
  color: #999;
  line-height: 0.4;
  width: 110px;
}

p.book-title {
  font-size: 16px;
  font-weight: 400;
  line-height: 0.4;
  margin-left: 15px;
  width: max-content;
}

p.book-author {
  font-size: 16px;
  font-weight: 300;
  color: #999;
  line-height: 0.4;
  width: max-content;
}

header #title {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  font-size: 28px;
  font-weight: 300;
  color: #525252;
}

header .nav:hover {
  color: #000000;
}

header .nav {
  padding-right: 20px;
  font-size: 18px;
  color: #999;
  width: max-content;
}

main {
  margin-top: 50px;
}

main h2 {
  color: #000000;
}

main p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
