body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(236, 236, 236);
}

code {
  background-color: rgb(229, 229, 229);
  padding: 2px;
  line-height: 6px;
  font-family: monospace;
  border-radius: 4px;
}

main h2 {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 64px;
  margin-bottom: 12px;
}

#container {
  max-width: 600px;
  overflow: hidden;
  margin-left: 2%;
}

@media only screen and (max-width: 600px) {
  #container {
    margin-left: 3%;
    margin-right: 3%;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

ul.list {
  list-style-type: none;
  padding: 0;
}

ul.notes {
  margin-left: 2px;
}

.li-a {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

li.post-blob {
  line-height: 0.5;
  text-wrap: balance;
}

p.post-title {
  font-size: 15px;
  font-weight: 300;
  margin-left: 15px;
  width: 100%;
  line-height: 22px;
}

p.post-date {
  font-size: 15px;
  font-weight: 300;
  color: #4d4d4d;
  line-height: 0.4;
  width: 140px;
  line-height: 22px;
}

p.book-author {
  font-size: 15px;
  line-height: 22.4px;
  width: 150px;
}

p.book-title {
  font-size: 15px;
  color: #626262;
  line-height: 22.4px;
  margin-left: 15px;
  width: 100%;
}

header {
  flex-wrap: wrap;
}

header #title {
  margin: 0;
  padding: 0;
  padding-right: 40px;
  font-size: 28px;
  font-weight: 300;
  color: #525252;
  margin-bottom: 12px;
}

header .nav:hover {
  color: #000000;
}

header .nav {
  padding-right: 20px;
  font-size: 14px;
  color: #626262;
  width: max-content;
  text-transform: uppercase;
}

main {
  margin-top: 50px;
}

main h2 {
  color: #000000;
}

main p {
  font-size: 16px;
  line-height: 1.5;
}

footer {
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}
